
.barraNavTop{
    position:relative;
    display: block;
    left: 0px;
    top:0px;
    width: 100%;
    background-color: wheat;
    padding: 20px 25px 10px 10%;
    box-sizing: border-box;
}

.bigLogo{
    max-height: 10%;
    max-width: 20%;
    min-width: 175px;
}

.linkBarra{
    display: inline-block;
    width:150px;
    padding: 10px 25px 10px 25px;
    text-align: center;
    font-size: 20pt;
    font-family:sans-serif, arial;
    font-variant:small-caps;
    color: black;
}

.cajaBarra{
    display:inline-block;
}

.contenedorTransparente{
    position: relative;
    display: block;
    top: 0px;
    width: 80%;
    margin: 10px auto 5px auto;
    background-color: rgba(225, 225, 225, 0.85);
    padding: 20px 30px 20px 30px;
}

.filaContenedor{
    display: flex;
    box-sizing: border-box;
    width:100%;
    padding: 25px 15px 10px 15px;
    overflow:auto auto;
}

.cajaCentrada{
    margin: auto;
}

.parrafada{
    line-height: 1.5em;
}

.botonNuevaPartida{
    width: 300px;
    height: 65px;
    font-size: 30px;
    border: darkgrey 4px groove;
    font-family: "Power Red and Green", serif;
    
}

.seccionContenedor{
    display: inline-block;
    box-sizing: border-box;
    max-height: 500px;
    padding: 25px 15px 10px 15px;
    overflow:auto auto;
}



.imgIntento{
    max-width: 100%;
    max-height: 100%;
    min-width: 50%;
    min-height: 50%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    image-rendering:pixelated;
}

.imgSeleccion{
    max-width: 80px;
    max-height: 50px;
    min-height: 30px;
    image-rendering:crisp-edges;
}

.celdaIntento{
    display: block;
    box-sizing: border-box;
    padding: 8px 5px 8px 8px;
    height: 100px;
    max-width: 120px;
    border: whitesmoke 3px solid;
    border-radius: 3px;
    text-align: center;
}

.celdaCorrecto{
    background-color: lightgreen;
}

.celdaParcial{
    background-color: gold;
}

.celdaIncorrecto{
    background-color: #e22;
}

.celdaMayor{
    background-color: #e22;
    background-image: url(../img/celdaMayor.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.celdaMenor{
    background-color: #e22;
    background-image: url(../img/celdaMenor.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ui-dialog-content{
    background-color: rgba(255, 245, 200, 0.92) !important;
}

.ui-dialog{
    background-color: transparent;
}

.botonBasic{
    background-color: darkgray !important;    
    color: black;
    padding: 2px;
}

.fondoContenido{
    background-attachment: fixed;
    background-size: contain;
    background-position: 50% 50%;
    background-color: #333;
    image-rendering:pixelated;
    width:100%;
    background-repeat:no-repeat;
    
}